* {/*
  height: 100%;*/
}
#container {
  display: grid;
  grid-template-columns: auto 700px auto;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    'theHead theHead theHead'
    'theDices theField theInfo';
  grid-gap: 1px;
}
#upperHeader {
  grid-area: theHead;
  border-style: solid;
  text-align: center;
  font-size: 15px;
  background: blue;
  color: white;
}
#centerField {
  grid-area: theField;
  border-style: solid;
  text-align: center;
  font-size: 15px;
  background: black;
  color: white;
}
#dices {
  grid-area: theDices;
  border-style: solid;
  text-align: center;
  font-size: 15px;
  background: dodgerBlue;
  color: orange;
}
#Information {
  grid-area: theInfo;
  border-style: solid;
  text-align: center;
  font-size: 15px;
  background: darkGray;
  color: gold;
}
#battleField {
  background: darkGreen;
  color: white;
  width: 700px;
  height: 700px;
  border-style: solid;
  border-color: orange;
}
