* {/*
  height: 100%;*/
  padding: 2px;
  margin: 5px;
}
#container {
  display: grid;
  grid-template-columns: auto 700px auto;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    'theHead theHead theHead'
    'theDices theField theInfo';
  grid-gap: 1px;
}
#upperHeader {
  grid-area: theHead;
  text-align: center;
  font-size: 15px;
  background: blue;
  color: white;
}
#centerField {
  grid-area: theField;
  text-align: center;
  font-size: 15px;
}
#dices {
  padding: 3px;
  grid-area: theDices;
  text-align: center;
  font-size: 15px;
  background: dodgerBlue;
  color: black;
}
#Information {
  grid-area: theInfo;
  text-align: center;
  font-size: 15px;
  background: darkGray;
  color: gold;
}
#battleField {
  background: darkGreen;
  color: white;
  width: 700px;
  height: 700px;
  border-style: solid;
  border-color: black;
}
.diceInputs {
  width: 60px;
}
#additionalInfo {
  text-align: center;
}
#buttonRow {
  display:flex;
  flex-direction:row;
}
.new-line {
  white-space: pre-line;
}
